# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.config/
.env
.env.local
*.local

# Local Netlify folder
.netlify
.next

# Scratch/Log files
*.log
*.txt
*.sql
*.cjs
*.js
!client/**
!supabase/**
!postcss.config.js
!tailwind.config.js
!vite.config.ts
!*.config.js
